<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Estilos de AOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Chewy&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Inspiration&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <!--ESTILOS CSS-->
    <link rel="stylesheet" href="../styles/Beeagency.css" >
    <!--FAVICON-->
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
    <title>BeeAgency</title>
  </head>
    <body>
      <div id="custom-cursor"></div>
      
        <!--MENU DE NAVEGACION-->
        <nav>
          <img src="../assets/logo.png" alt="BeeAgency Logo">
      
          <!-- Botón de hamburguesa -->
          <label for="menu-toggle" class="hamburger">&#9776;</label>
          <input type="checkbox" id="menu-toggle">
      
          <!-- Contenedor del menú -->
          <div class="menu-container">
              <ul class="menu">
                  <li>
                      <div class="cube">
                        <a href="../index.html" class="links front">Home</a>
                        <span class="back"><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.htmls">Home</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/beeagency.html" class="links front">BeeAgency</a>
                        <span class="back"><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/servicios.html" class="links front">Services</a>
                        <span class="back"><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/actualidad.html" class="links front">Blog</a>
                        <span class="back"><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/contacto.html" class="links front">ContactUs</a>
                        <span class="back"><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a></span>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>

      <main>
        <section class="cabecera-beeagency">
          <video autoplay loop muted>
            <source src="/assets/fondobeeagency.webm" type="video/mp4">
            Tu navegador no soporta el video
          </video>
          <div class="container-titulo-beeagency"><h1>BeeAgency</h1></div>
        </section> 

        <section class="container-texto-creativo">
          <div class="titulo-beeagency">
            <div class="text">
              <h2>¿QUIERES</h2> 
              <h2>UNIRTE A</h2> 
              <h2>NUESTRO EQUIPO?.</h2>
            </div>
            <div class="line-top"></div>
            <div class="line-bottom"></div>
            <div class="handwritten">Equipo</div>
          </div>
          <div class="texto-creativo">
            <p> Si supieras qué campaña vas a hacer no nos necesitarías. Porque no somos normales ni    pretendemos serlo. No es una casualidad que seamos la única agencia en la que puedes decidir ir al wáter con luz normal o con una <span class="highlight" data-images="/assets/imagenB1.jpg, /assets/imagenB2.jpg">Bola Disco</span> <br><br>

              Creemos en las <span class="highlight2" data-images="/assets/imagenB2.jpg">Ideas</span>, en la comunicación entendida como un territorio por explorar donde descubres cosas nuevas que son eficaces. Creemos en el poder transformador de la creatividad. El mundo y la publicidad están cambiando, y nos gusta sentirnos parte de ese cambio. <br><br>
              
              La <span class="highlight3" data-images="/assets/imagenB2.jpg">energía</span> está presente en nuestras oficinas. Creemos en la energía positiva. En creer en las cosas y en hacer, hacer, hacer. No pararnos, experimentar. No tener miedo y pensar que todo es posible si te lo crees. La agencia está ubicada en un edificio emblemático de Madrid diseñado por el Estudio Higueras Miró. Somos la única agencia en España que puede decir que trabaja en unas oficinas diseñadas por un arquitecto y director de cine porno. Supera eso…
            </p>
            <div id="tooltip" class="tooltip"></div>
            <div id="tooltip2" class="tooltip2"></div>
            <div id="tooltip3" class="tooltip2"></div>
          </div>
        </section>


          

        <!-- From Uiverse.io by vamsidevendrakumar --> 
        <section class="cards-sectores">
          <div class="container-titulo-sectores">
            <div class="titulo-sectores">
              <div class="text-sectores">
                <h2>NOSOTROS</h2> 
                <h2>SOMOS</h2> 
                <h2>NUESTROS CLIENTES.</h2>
              </div>
              <div class="line-top-sectores"></div>
              <div class="line-bottom-sectores"></div>
              <div class="handwritten-sectores">Clientes</div>
            </div>
          </div>

          <div class="container-cards">
            <div class="card">
              <div class="card-inner">
                <div class="card-front">
                  <img src="/assets/estante-para-vino-unscreen.gif" alt="gif servicios de hosteleria">
                  <h3>Hostelería</h3>
                </div>
                <div class="card-back">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum reprehenderit eum et officiis molestias facere nihil ducimus repellendus consectetur assumenda dolores, dignissimos ipsum quisquam, beatae, porro rem inventore mollitia fugit.</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-inner">
                <div class="card-front">
                  <img src="/assets/estrategia-unscreen.gif" alt="git servicios de asesorias juridicas">
                  <h3>Asesorías</h3>
                </div>
                <div class="card-back">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur facere sequi hic! Corrupti iure commodi harum aliquam, debitis iusto cumque, fugiat dicta ipsa minus natus expedita vel optio dolores.</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-inner">
                <div class="card-front">
                  <img src="/assets/agente-inmobiliario-unscreen.gif" alt="gif de servicios de inmobiliaria">
                  <h3>Inmobiliaria</h3>
                </div>
                <div class="card-back">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis rem dolorem corrupti itaque aliquam fugiat. Minus dolores sed odit perferendis quidem voluptas excepturi quo, reprehenderit magnam ab dolor delectus voluptate!</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-inner">
                <div class="card-front">
                  <img src="/assets/las-compras-en-linea-unscreen.gif" alt="gif de servicios de ecommerce">
                  <h3>Ecommerce</h3>
                </div>
                <div class="card-back">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit illo obcaecati delectus dolor aliquid blanditiis, consequatur explicabo incidunt maiores, provident beatae vero corporis! Eveniet odit eos qui fugit iusto a!</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="container-valores-corporativos">
          <div class="titulo-valores">
            <div class="text-valores">
              <h2>¿NUESTROS VALORES?.</h2>
            </div>
            <div class="line-bottom-valores"></div>
            <div class="handwritten-valores">Valores</div>
          </div>
        </section>


        <!--TARJETAS VALORES-->
        <div class="container">
          <div class="cards large">
              <h2>INNOVACIÓN SIN LÍMITES</h2>
              <p>No dejamos nada al azar. Tomamos decisiones basadas en datos y lo damos todo hasta lograrlo.</p>
          </div>
          <div class="right-column">
              <div class="cards medium">
                  <h2>INTELIGENCIA DIGITAL</h2>
                  <p>Tomamos decisiones basadas en datos y automatización. Aprovechamos la inteligencia artificial, el análisis predictivo y las mejores tecnologías para optimizar cada estrategia.</p>
              </div>
              <div class="bottom-cards">
                  <div class="cards small">
                      <h2>AGILIDAD EN LA EJECUCIÓN</h2>
                      <p>Actuamos rápido y con precisión. En un mundo digital en constante cambio, adaptarnos y evolucionar es parte de nuestro ADN.</p>
                  </div>
                  <div class="cards small">
                      <h2>TECNOLOGÍA CON PROPOSITO</h2>
                      <p>No usamos tecnología solo por tendencia, sino para generar valor real. Implementamos soluciones innovadoras que mejoran la experiencia del usuario y maximizan el rendimiento de nuestros clientes.</p> 
                  </div>
              </div>
          </div>
      </div>
        
          <section class="container-formulario-beeagency">
            <form id="contactForm" class="form-container">
              <label for="name">Nombre</label>
              <input type="text" id="name" name="name" placeholder="Tu nombre" required>
                    
              <label for="email">Correo Electrónico</label>
              <input type="email" id="email" name="email" placeholder="Tu correo" required>
                    
              <label for="business">Nombre del Negocio</label>
              <input type="text" id="business" name="business" placeholder="Tu negocio" required>
                    
              <label for="service">Servicio de Interés</label>
              <select id="service" name="service" required>
                <option value="">Selecciona un servicio</option>
                  <option value="seo">Desarrollo Web</option>
                  <option value="ads">Desarrollo de negocio</option>
                  <option value="social">Branding</option>
              </select>
                    
              <label for="message">Mensaje</label>
              <textarea id="message" name="message" rows="4" placeholder="Cuéntanos en qué podemos ayudarte"></textarea>
                    
              <button type="submit">Enviar</button>
            </form>

            <div class="texto">
              "Las grandes ideas comienzan con una simple conversación. Cuéntanos la tuya."
            </div>
          </section>
      


      

      </main>

      <!-- ESTILOS FOOTER -->
      <footer>
        <div class="footer-container">
          <!-- Dirección -->
          <div class="footer-section">
            <h3>Dirección</h3>
            <p>Madrid 28004</p>
            <p>España</p>
          </div>
      
      
          <!-- Derechos de autor -->
          <div class="footer-section">
            <h3>Legal</h3>
            <p>&copy; 2025 BeeAgency. Todos los derechos reservados.</p>
            <a href="aviso-legal.html">Aviso Legal</a> | <a href="politica-privacidad.html">Política de Privacidad</a>
          </div>


          <!-- Redes Sociales -->
          <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-links">
              <a href="#" target="_blank"><img src="../assets/icons8-facebook-100.png" alt="Facebook"></a>
              <a href="#" target="_blank"><img src="../assets/icons8-instagram-100.png" alt="Instagram"></a>
              <a href="#" target="_blank"><img src="../assets/icons8-linkedin-100.png" alt="LinkedIn"></a>
            </div>
          </div>

        </div>
      </footer>
      

        <script src="../JS/mouse.js"></script>
        <script src="../JS/scroll.js"></script>
        <script src="../JS/animacion-imagenes-beeagency.js"></script>
        <script src="../JS/formulario-beeagency.js"></script>
        <!-- Script de AOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="../JS/AOS.js"></script>
        
    </body>
</html>