<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Estilos de AOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Chewy&family=Cinzel:wght@400..900&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Inspiration&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Chewy&family=Cinzel:wght@400..900&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Inspiration&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Chewy&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Inspiration&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Boldonse&family=Chewy&family=Cinzel:wght@400..900&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Inspiration&family=Knewave&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Prata&family=Roboto+Slab:wght@100..900&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <!--ESTILOS CSS-->
    <link rel="stylesheet" href="../styles/Beeagency.css" >
    <!--FAVICON-->
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
    <title>BeeAgency</title>
  </head>
    <body>
      <div id="custom-cursor"></div>
      
        <!--MENU DE NAVEGACION-->
        <nav>
          <img src="../assets/logo.png" alt="BeeAgency Logo">
      
          <!-- Botón de hamburguesa -->
          <label for="menu-toggle" class="hamburger">&#9776;</label>
          <input type="checkbox" id="menu-toggle">
      
          <!-- Contenedor del menú -->
          <div class="menu-container">
              <ul class="menu">
                  <li>
                      <div class="cube">
                        <a href="../index.html" class="links front">Home</a>
                        <span class="back"><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.htmls">Home</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="beeagency.html" class="links front">BeeAgency</a>
                        <span class="back"><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a><a href="beeagency.html">BeeAgency</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="servicios.html" class="links front">Services</a>
                        <span class="back"><a href="servicios.html">Services</a><a href="servicios.html">Services</a><a href="servicios.html">Services</a><a href="servicios.html">Services</a><a href="servicios.html">Services</a><a href="servicios.html">Services</a><a href="servicios.html">Services</a><a href="servicios.html">Services</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="actualidad.html" class="links front">Blog</a>
                        <span class="back"><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a><a href="actualidad.html">Blog</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="contacto.html" class="links front">ContactUs</a>
                        <span class="back"><a href="contacto.html">ContactUs</a><a href="contacto.html">ContactUs</a><a href="contacto.html">ContactUs</a><a href="contacto.html">ContactUs</a><a href="contacto.html">ContactUs</a><a href="contacto.html">ContactUs</a></span>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>

      <main>
        <section class="cabecera-beeagency">
          <video autoplay loop muted>
            <source src="assets/fondobeeagency.webm" type="video/mp4">
            Tu navegador no soporta el video
          </video>
          <div class="container-titulo-beeagency">
            <h2>Be Found,</h2>
            <h1>BeeAgency</h1>
          </div>
        </section> 

        <section class="container-texto-creativo">
          <div class="titulo-beeagency">
            <div class="text">
              <h2>¿QUIERES</h2> 
              <h2>UNIRTE A</h2> 
              <h2>NUESTRO EQUIPO?</h2>
            </div>
            <div class="line-top"></div>
            <div class="line-bottom"></div>
            <div class="handwritten">Equipo</div>
          </div>
          <div class="texto-creativo">
            <p> Si supieras qué campaña vas a hacer no nos necesitarías. Porque no somos normales ni    pretendemos serlo. No es una casualidad que seamos la única agencia en la que puedes decidir ir al wáter con luz normal o con una acer no nos necesitarías o con una acer no nos necesitarías <span class="highlight" data-images="/assets/imagenB1.jpg, /assets/imagenB2.jpg">Bola Disco</span> <br><br>

              Creemos en las <span class="highlight2" data-images="/assets/imagenB2.jpg">Ideas</span>, en la comunicación entendida como un territorio por explorar donde descubres cosas nuevas que son eficaces. Creemos en el poder transformador de la creatividad. El mundo y la publicidad están cambiando, y nos gusta sentirnos parte de ese cambio. <br><br>
              
              La <span class="highlight3" data-images="/assets/imagenB2.jpg">energía</span> está presente en nuestras oficinas. Creemos en la energía positiva. En creer en las cosas y en hacer, hacer, hacer. No pararnos, experimentar. No tener miedo y pensar que todo es posible si te lo crees. La agencia está ubicada en un edificio emblemático de Madrid diseñado por el Estudio Higueras Miró. Somos la única agencia en España que puede decir que trabaja en unas oficinas diseñadas por un arquitecto y director de cine porno. Supera eso…
            </p>
            <div id="tooltip" class="tooltip"></div>
            <div id="tooltip2" class="tooltip2"></div>
            <div id="tooltip3" class="tooltip2"></div>
          </div>
        </section>


          

        <!-- From Uiverse.io by vamsidevendrakumar --> 
        <section class="cards-sectores">
          <div class="container-titulo-sectores">
            <div class="titulo-sectores">
              <div class="text-sectores">
                <h2>NOSOTROS</h2> 
                <h2>SOMOS</h2> 
                <h2>NUESTROS CLIENTES</h2>
              </div>
              <div class="line-top-sectores"></div>
              <div class="line-bottom-sectores"></div>
              <div class="handwritten-sectores">Clientes</div>
            </div>
          </div>

          <div class="container-cards">
            
            <!-- From Uiverse.io by gharsh11032000 --> 
            <div class="card">      
              <div class="main-content">
                <div class="heading"><img src="assets/casa.gif" alt="gif servicios de marketing digital a inmobiliarias"></div>
              </div>
              <div class="title-card">Inmobiliarias</div>
            </div>

            <div class="card">
              <div class="main-content">
                <div class="heading"><img src="assets/bolsa-de-la-compra.gif" alt="gif servicios de marketing digital a ecommerce"></div>
              </div>
              <div class="title-card">Ecommerce</div>
            </div>

            <div class="card">     
              <div class="main-content">
                <div class="heading"><img src="assets/vino.gif" alt="gif servicios marketing digital a Hostelería"></div>
              </div>
              <div class="title-card">Hostelería</div>
            </div>

            <div class="card">
              
              <div class="main-content">
                <div class="heading"><img src="assets/consultoria-estrategica.gif" alt="gif servicios de marketing digital a asesorias"></div>
              </div>
              <div class="title-card">Asesorias</div>
            </div>
          </div>
        </section>

        <section class="container-valores-corporativos">
          <div class="titulo-valores">
            <div class="text-valores">
              <h2>¿NUESTROS VALORES?</h2>
            </div>
            <div class="line-bottom-valores"></div>
            <div class="handwritten-valores">Valores</div>
          </div>
        </section>


        <!--TARJETAS VALORES-->
        <div class="container">
          <div class="cards large">
              <h2>INNOVACIÓN <br> SIN LÍMITES</h2>
              <p>No dejamos nada al azar. Tomamos decisiones basadas en datos y lo damos todo hasta lograrlo.</p>
              <img src="assets/diana.png" alt="icono diana">
          </div>
          <div class="right-column">
              <div class="cards medium">
                  <h2>INTELIGENCIA DIGITAL</h2>
                  <p>Tomamos decisiones basadas en datos y automatización. Aprovechamos la inteligencia artificial, el análisis predictivo y las mejores tecnologías para optimizar cada estrategia.</p>
                  <img src="assets/cursor.png" alt="icono cursor">
              </div>
              <div class="bottom-cards">
                  <div class="cards small">
                      <h2>AGILIDAD EN <br> LA EJECUCIÓN</h2>
                      <p>Actuamos rápido y con precisión. En un mundo digital en constante cambio, adaptarnos y evolucionar es parte de nuestro ADN.</p>
                      <img src="assets/estrella.png" alt="icono estrella">
                  </div>
                  <div class="cards small-2">
                      <h2>TECNOLOGÍA CON PROPOSITO</h2>
                      <p>No usamos tecnología solo por tendencia, sino para generar valor real. Implementamos soluciones innovadoras que mejoran la experiencia del usuario y maximizan el rendimiento de nuestros clientes.</p>
                      <img src="assets/apreton-de-manos.png" alt="icono corazon apreton de manos">
                  </div>
              </div>
          </div>
      </div>

          
        
          <section class="container-formulario-beeagency">

            <div class="texto">
              <h2>"Las grandes ideas comienzan con una simple conversación. <br>Cuéntanos la tuya."</h2>
            </div>
            
           <!-- From Uiverse.io by ammarsaa --> 
              <form class="form">
                <p class="title">Datos </p>
                <p class="message">Tu próxima gran idea merece ser escuchada. Estamos aquí para ayudarte. </p>
                    <div class="flex">
                    <label>
                        <input class="input" type="text" placeholder="" required>
                        <span>Nombre</span>
                    </label>

                    <label>
                        <input class="input" type="text" placeholder="" required>
                        <span>Apellidos</span>
                    </label>
                </div>  
                        
                <label>
                    <input class="input" type="email" placeholder="" required>
                    <span>Email</span>
                </label> 
                    
                <label>
                    <input class="input" type="text"  placeholder="" required="">
                    <span>Número</span>
                </label>
                <label>
                    <textarea id="mensaje" class="mensaje" name="mensaje" rows="4" placeholder="Cuentanos en que podemos ayudarte"></textarea>
                </label>
                <button type="submit" class="submit">Enviar</button>
              </form>
          </section>
      </main>

      <!-- ESTILOS FOOTER -->
      <footer>
        <div class="footer-container">
          <div class="seccion1-footer">
            <h3>BEEAGENCY</h3>
            <p>Ayudamos a negocios como el tuyo a crecer, destacar y conectar con su audiencia. Desde estrategias personalizadas hasta campañas que generan resultados reales, estamos aquí para impulsar tu marca al siguiente nivel.</p>
          </div>
          <div class="seccion2-footer">
            <h4>Madrid, Gran Vía</h4>
            <h4>Teléfonos</h4>
            <p>987654750</p>
            <p>927454730</p>
            <p>947684710</p>
            <h4>Email</h4>
            <p>
              beeagency@gmail.com
            </p>

          </div>
          <div class="seccion3-footer">
            <ul>
              <li><a href="../index.html" class="links front">Home</a></li>
              <li><a href="beeagency.html" class="links front">Beeagency</a></li>
              <li><a href="servicios.html" class="links front">Services</a></li>
              <li><a href="actualidad.html" class="links front">Blog</a></li>
              <li><a href="contacto.html" class="links front">ContactUs</a></li>
            </ul>
          </div>

          <div class="seccion4-footer">
            <div id="footer-news"></div>
          </div>
        </div>
      </footer>
      

        <script src="../JS/mouse.js"></script>
        <script src="../JS/scroll.js"></script>
        <script src="../JS/animacion-imagenes-beeagency.js"></script>
        <script src="../JS/formulario-beeagency.js"></script>
        <script src="../JS/blog-footer.js"></script>
        <!-- Script de AOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="../JS/AOS.js"></script>
        
    </body>
</html>