<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Estilos de AOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Fustat:wght@200..800&family=Imperial+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <!--ESTILOS CSS-->
    <link rel="stylesheet" href="styles/styles.css" >
    <!--FAVICON-->
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
    <title>BeeAgency</title>
  </head>
    <body>
      <div id="custom-cursor"></div>
      
        <!--MENU DE NAVEGACION-->
        <nav>
          <img src="../assets/logo.png" alt="BeeAgency Logo">
      
          <!-- Botón de hamburguesa -->
          <label for="menu-toggle" class="hamburger">&#9776;</label>
          <input type="checkbox" id="menu-toggle">
      
          <!-- Contenedor del menú -->
          <div class="menu-container">
              <ul class="menu">
                  <li>
                      <div class="cube">
                        <a href="../index.html" class="links front">Home</a>
                        <span class="back"><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.html">Home</a><a href="../index.htmls">Home</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/beeagency.html" class="links front">BeeAgency</a>
                        <span class="back"><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a><a href="/views/beeagency.html">BeeAgency</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/servicios.html" class="links front">Services</a>
                        <span class="back"><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a><a href="/views/servicios.html">Services</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/actualidad.html" class="links front">Blog</a>
                        <span class="back"><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a><a href="/views/actualidad.html">Blog</a></span>
                      </div>
                      <hr class="hr-line">
                  </li>
                  <li>
                      <div class="cube">
                        <a href="/views/contacto.html" class="links front">ContactUs</a>
                        <span class="back"><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a><a href="/views/contacto.html">ContactUs</a></span>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>

      <main>

      </main>

      <!-- ESTILOS FOOTER -->
      <footer>
        <div class="footer-container">
          <!-- Dirección -->
          <div class="footer-section">
            <h3>Dirección</h3>
            <p>Madrid 28004</p>
            <p>España</p>
          </div>
      
      
          <!-- Derechos de autor -->
          <div class="footer-section">
            <h3>Legal</h3>
            <p>&copy; 2025 BeeAgency. Todos los derechos reservados.</p>
            <a href="aviso-legal.html">Aviso Legal</a> | <a href="politica-privacidad.html">Política de Privacidad</a>
          </div>


          <!-- Redes Sociales -->
          <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-links">
              <a href="#" target="_blank"><img src="../assets/icons8-facebook-100.png" alt="Facebook"></a>
              <a href="#" target="_blank"><img src="../assets/icons8-instagram-100.png" alt="Instagram"></a>
              <a href="#" target="_blank"><img src="../assets/icons8-linkedin-100.png" alt="LinkedIn"></a>
            </div>
          </div>

        </div>
      </footer>
      

        <script src="../JS/mouse.js"></script>
        <script src="../JS/scroll.js"></script>
        <!-- Script de AOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="../JS/AOS.js"></script>
        
    </body>
</html>