:root {
  --color-principal-azul: #001840;
  --color-secundario-azul:#102a71;
  --color-principal-amarillo: #f5c400;
  --color-secundario-amarillo:#ffdc5f;
  --color-mouse-fosforito:#ebff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el body tenga el 100% de la altura de la pantalla */
  height: 100vh;
}

/* Estilos del preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* Texto animado */
#typing-text {
  color: white;
  font-size: 8rem;
  font-weight: bold;
  border-right: 3px solid white; /* Simula el cursor de escritura */
  white-space: nowrap;
  overflow: hidden;
}

/* Logo oculto por defecto */
#logo {
  width: 30%; /* Ajusta el tamaño según necesites */
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


/***************************Estilos mouse**************************************/

#custom-cursor {
  position: fixed;
  width: 20px; /* Tamaño del círculo */
  height: 20px;
  background-color:var(--color-mouse-fosforito) ;
  border-radius: 50%;
  pointer-events: none; /* Para que no bloquee los clics */
  mix-blend-mode: difference; /* Para que resalte sobre los elementos */
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease-out;
  z-index: 9000; /* Asegura que esté encima de todo */
}


/************************ESTILOS NAV******************************/

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  z-index: 1000;
}

nav.scrolled{
  background-color: rgba(0, 0, 0, 0.6);
}

/* Logo */
nav img {
  width: 150px;
  height: auto;
  margin: 0;
}

/* Menú desplegable */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgb(28, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

/* Mostrar el menú cuando el checkbox está activado */
#menu-toggle:checked ~ .menu-container {
  opacity: 1;
  visibility: visible;
}

/* Estilos del menú */
.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

/* Estilos de los ítems del menú */
.menu li {
  width: 100%;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Aparece con animación */
#menu-toggle:checked ~ .menu-container .menu li {
  transform: translateY(0);
  opacity: 1;
}

/* Efecto de aparición escalonado */
.menu li:nth-child(1) { transition-delay: 0.1s; }
.menu li:nth-child(2) { transition-delay: 0.2s; }
.menu li:nth-child(3) { transition-delay: 0.3s; }
.menu li:nth-child(4) { transition-delay: 0.4s; }
.menu li:nth-child(5) { transition-delay: 0.5s; }

/* Links */
.links {
  text-decoration: none;
  color: white;
  display: inline-block;  /* Permite aplicar padding correctamente */
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Botón de hamburguesa */
.hamburger {
  display: block;
  font-size: 3rem;
  color: white;
  z-index: 1100;
}

/* Ocultar el checkbox */
#menu-toggle {
  display: none;
}

/* Efecto cubo */
.cube {
  position: relative;
  width: 2000px;
  height: 100px;
  perspective: 1000px;
}

/* Estilos para cada cara del cubo */
.cube .front,
.cube .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  font-size: 5rem;
  text-align: center;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Cara delantera */
.cube .front {
  color: white;
  transform: rotateX(0deg);
  
}

/* Cara trasera */
.cube .back {
  background-color: white;
  color: black;
  transform: rotateX(-180deg);
  padding: 50px;
}


@keyframes moveText {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.hr-line{
  border: none;
  height: 1px;
  background-color:rgb(67, 66, 66);
}

/* Efecto de giro */
.cube:hover .front {
  transform: rotateX(100deg);
}

.cube:hover .back {
  transform: rotateX(0deg);
}




/*boton menu responsivo*/

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu-toggle img{
  width: 60px;
}

.checkbox{
  display: none;
}




/******************ESTILOS MAIN********************************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

/******************Estilos cabecera main**********************************/

.cabecera-main {
  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.cabecera-main video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}


.titulo-cabecera h2{
  color:black;
  font-size: 6rem;
}

.titulo-cabecera p{
  color:black;
  font-size: 1.8rem;
}


/************************Estilos tarjeta superpuesta*****************************************/

.tarjeta{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -250px; /* Hace que sobresalga del main */
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 350px;
  background-image: url(/assets/ordenador.png);
  background-size: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Efecto flotante */
  padding:40px;
}

.tarjeta h1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 2.7rem;
  width: 50%;
  color:black;
}

.tarjeta p{
  display: flex;
  text-align: center;
  width: 50%;
  margin-top: 20px;
  text-align: justify;
}

.tarjeta button{
  width: 20%;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1.1rem;
  border-radius: 20px;
  border: none;
}


.tarjeta button:hover{
  background-color:var(--color-secundario-amarillo);
  transition:  0.7s ease-in-out;
  font-size: 1.3rem;
}


.impulsa-marca{
  margin-top: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.impulsa-marca h2{
  font-size: 3.5rem;
  color:black;
}

.impulsa-marca p{
  font-size: 1.3rem;
  width: 80%;
  text-align: center;
}

/*******************Estilos carrusel********************************************+*/
.container-carrusel{
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid;
}


/* Estilos generales */


/* Estilos de las filas */
.fila {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  width: max-content; /* Permite que los elementos sigan en fila */
 
}


/* Elementos individuales */
.item {
  font-size: 22px;
  padding: 12px;
  background: white;
  font-weight: 600;
  text-align: center;
}

/* Estilo especial */
.especial {
  border: 1px solid ;
  border-radius: 40px;
  font-weight: bold;
}

/* Aplica la animación a cada fila con diferentes velocidades */
.fila-1 {
  animation: mover 200s linear infinite;
  animation: scrollAnimation-reverse 200s linear infinite;
}

.fila-2 {
  animation: mover-reverse  205s linear infinite;
  animation: scrollAnimation 205s linear infinite;
}

.fila-3 {
  animation: mover 200s linear infinite;
  animation: scrollAnimation-reverse 200s linear infinite;
}

.fila-4{
  animation: mover-reverse 205s linear infinite;
  animation: scrollAnimation 205s linear infinite;
}

/* Animación del desplazamiento */
@keyframes mover {
  to { transform: translateX(-100%); }
}

@keyframes mover-reverse {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

@keyframes scrollAnimation {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes scrollAnimation-reverse {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


/***********************Estilos Servicios***********************************************/

.servicios{
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicios h2{
  font-size: 3.5rem;
  color:black;
}
















.seccion4{
  margin-top: 80px;
}






/*****************ESTILOS FOOTER***********************************/


footer {
  text-align: center;
  padding: 10px;
  flex: 0 1 auto;
  margin-bottom: 0;
  background-color: black;  
}


.footer-container {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 0;
}

.footer-section {
  max-width: 300px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
  text-decoration: underline;
}

.footer-section p, .footer-section a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

.footer-section a:hover {
  color: #f5c400;
}

.social-links img {
  width: 30px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.2);
}


/******************Estilos responsivos*****************************************/


@media (max-width: 968px) {

  #typing-text {
    font-size: 3.5rem;
  }

  #logo {
    width: 100%;
  }

 


  .titulo-cabecera h2{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
  }
  
  .titulo-cabecera p{
    font-size: 1.6rem;
    text-align: center;
  }

  .tarjeta{
    max-width: 850px;
    height: 300px;
    margin-bottom: 30px;
  }

  .tarjeta h1{
    margin-top: 0;
  }

  .tarjeta p {
    text-align: justify;
  }
  

  #custom-cursor {
    display: none;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }


}

/********************Pantallas Intermedias***********************************************/

@media (max-width: 768px) {
  
  .cabecera-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cabecera h2{
  font-size: 2.4rem;
  text-align: center;
  justify-content: center;
  text-align: center;
  margin-top: 130px;
}

.titulo-cabecera p{
  font-size: 1.1rem;
  text-align: center;
}

.tarjeta{
  width: 500px;
}



.tarjeta h1{
  font-size: 1.6rem;
}

}




/* Ajuste para pantallas aún más pequeñas */
@media (max-width: 600px) {
  .menu {
    height: 500px;
    gap: 40px;
  }

  .submenu {
    gap: 10px;
  }


  .links {
    font-size: 1.8rem;
  }

  .cabecera-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cabecera h2{
  font-size: 2.4rem;
  text-align: center;
  justify-content: center;
  text-align: center;
  margin-top: 130px;
}

.titulo-cabecera p{
  font-size: 1.1rem;
  text-align: center;
}

.tarjeta{
  width: 350px;
}

}